{{#each this}}
    <li class="team-list__item">
        <div class="team-item__photo">
            <img class="team-item__img" data-id="{{id}}" src="{{photo}}" alt="{{name}} photo"/>
        </div>
        <div class="team-item__name">{{name}}</div>
        <div class="team-item__position">{{position}}</div>
    </li>
{{/each}}